video::-webkit-media-controls {
  display: none;
}

h1, p, span{
    color: white;
}

.rounded{
    border: 0.1em solid grey;
    border-radius: 4em;
    display: inline-block;
    padding: 1em;
    margin: 1em;
}